*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root{
    --cream: #FCF9ED;
    --darkblue: #252E33;
    --lightblue: #5D737E;
    --transition: all .3s ease-in-out;
}

img{
    display: block;
}

body{
    background-color: var(--cream);
    overflow: hidden;
}

.content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

table{
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

th, td{
    padding: 10px 20px;
    text-align: left;
}

th{
    padding: 15px 20px;
    cursor: pointer;
}

th:hover{
    background-color: var(--darkblue);
}

.table-header{
    background-color: var(--lightblue);
    color: white;
}

.table-content{
    cursor: pointer;
}

.table-content:nth-child(odd){
    background-color: rgb(235, 235, 235);
}

.table-content:nth-child(even){
    background-color: white;
}

.edit-menu{
    display: flex;
    flex-direction: column;

    position: absolute;
    right: -199px;
    top: 0;
    height: 100vh;
    padding: 20px;
    background-color: white;
    transition: all .5s ease-in-out;
    z-index: 2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.edit-menu input{
    border: 1px solid var(--lightblue);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.edit-menu label{
    font-weight: bold;
}

.show{
    transform: translateX(-199px);
}

.edit-menu textarea{
    resize: none;
    padding: 10px;
}

.edit-menu button{
    margin-top: 30px;
    padding-block: 10px;
    border: none;
    background-color: var(--lightblue);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s ease;
}

.edit-menu button:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(255, 255, 255, 0.7);
    background-color: #4a5a63;
}

.dark{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: var(--transition);
}

.show-dark{
    pointer-events: all;
    opacity: .5;
    transition: var(--transition);
}

#search{
    display: block;
    margin-inline: auto;
    margin-top: 30px;
}